.extension-mesh-product-downloads {
    &__switch {
        margin-bottom: var(--scale-size-20);
    }

    &__validation-error {
        display: block;
        margin-top: var(--scale-size-4);
        color: var(--color-crimson-500);
        white-space: normal;
    }

    &__status--rejected {
        color: var(--color-crimson-500);
    }

    .sw-data-grid {
        margin-top: var(--scale-size-20);
    }
}
